%{mode, {rate, 5}}.

{mode, max}.
{duration, 5}.

{concurrent, 25}.

{driver, basho_bench_driver_riakclient}.

{code_paths, ["/Users/ricardo/Riak/riak_1.2/deps/riak_kv",
              "/Users/ricardo/Riak/riak_1.2/deps/riak_core"]}.

{operations, [{get, 3}, {put, 10}, {update,3}, {delete,1}]}.

%{key_generator, {int_to_bin, {uniform_int, 35000}}}.
{key_generator, {int_to_bin_bigendian, {pareto_int, 500}}}.

{value_generator, {fixed_bin, 512}}. %10000

{riakclient_nodes, ['dev1@127.0.0.1','dev2@127.0.0.1','dev3@127.0.0.1','dev4@127.0.0.1']}.

{riakclient_mynode, ['basho_bench@127.0.0.1', longnames]}.

{riakclient_replies, 2}.

