%{mode, {rate, 5}}.

{mode, max}.
{duration, 15}.

{concurrent, 100}.

{driver, basho_bench_driver_riakclient}.

{code_paths, ["/home/gsd/tome/riak-old/deps/riak_kv",
              "/home/gsd/tome/riak-old/deps/riak_core"]}.

{operations, [{get, 35}, {put, 30}, {update,30}, {delete,5}]}.

%{key_generator, {int_to_bin, {uniform_int, 35000}}}.
{key_generator, {int_to_bin_bigendian, {pareto_int, 500}}}.

{value_generator, {fixed_bin, 2000}}. %10000

{riakclient_nodes, ['riak@192.168.111.207','riak@192.168.111.208','riak@192.168.111.209','riak@192.168.111.228','riak@192.168.111.229']}.

{riakclient_mynode, ['riak@192.168.111.206', longnames]}.

{riakclient_replies, 2}.

