{mode, {rate, 17}}.
%{mode, max}.

{duration, 1}.

{concurrent, 10}.

% Seed to have reproducible tests
%{rng_seed, {12, 34, 56}}.

{operations, [{get, 1}, {update, 70}, {put, 30}, {delete, 10}]}.
%{operations, [{get, 2}, {update, 5}, {put, 5}, {delete, 2}]}.
%{operations, [{get, 10}, {update, 4}, {put, 1}]}.
%{operations, [{get, 10}, {put, 1}]}.
%{operations, [{get, 10}]}.

{driver, basho_bench_driver_basic_db}.

{code_paths, ["/Users/ricardo/github/BasicDB"]}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 1000000}}}.

{value_generator, {fixed_bin, 1}}.

{basic_db_nodes, [ 'basic_db1@127.0.0.1',
                    'basic_db2@127.0.0.1',
                    'basic_db3@127.0.0.1',
                    'basic_db4@127.0.0.1']}.

{basic_db_mynode, ['my_basic_db@127.0.0.1', longnames]}.

{basic_db_replies, 2}.
