%{mode, {rate, 15}}.
{mode, max}.

{duration, 3}.

{concurrent, 25}.

%{operations, [{get, 10}, {update, 4}, {put, 1}, {delete, 1}, {proper_delete, 1}]}.
{operations, [{get, 10}, {update, 4}, {put, 1}]}.

{driver, basho_bench_driver_dotted_db}.

{code_paths, ["/Users/ricardo/github/dottedDB"]}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 35000}}}.

{value_generator, {fixed_bin, 5}}.

{dotted_db_nodes, [ 'dotted_db1@127.0.0.1', 
                    'dotted_db2@127.0.0.1', 
                    'dotted_db3@127.0.0.1', 
                    'dotted_db4@127.0.0.1']}.

{dotted_db_mynode, ['my_dotted_db@127.0.0.1', longnames]}.

{dotted_db_replies, 2}.
