{mode, {rate, 20}}.
%{mode, max}.

{duration, 10}.

{concurrent, 20}.

% Seed to have reproducible tests
{rng_seed, {12, 34, 56}}.

{operations, [{get, 50}, {update, 95}, {put, 5}, {delete, 20}]}.
%{operations, [{delete, 20}, {update, 5}, {put, 5}]}.
%{operations, [{get, 10}, {update, 4}, {put, 1}]}.
%{operations, [{get, 10}, {put, 1}]}.
%{operations, [{get, 10}]}.

{driver, basho_bench_driver_dotted_db}.

{code_paths, ["/home/gsd/DottedDB/_build/default/lib/dotted_db",
              "/home/gsd/DottedDB/_build/default/lib/swc"]}.

{key_generator, {int_to_bin_bigendian, {uniform_int, 10000}}}.

{value_generator, {fixed_bin, 1}}.

{dotted_db_nodes, [ 'dotted_db@192.168.112.38',
                    'dotted_db@192.168.112.39',
                    'dotted_db@192.168.112.40',
                    'dotted_db@192.168.112.55',
                    'dotted_db@192.168.112.56']}.

{dotted_db_mynode, ['my_dotted_db@192.168.112.37', longnames]}.

{dotted_db_sync_interval, 100}.             % milliseconds
{dotted_db_strip_interval, 2000}.           % milliseconds
{dotted_db_replication_fail_rate, 1}.     % [0;1]
{dotted_db_node_kill_rate, 0}.          % milliseconds
